
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jockey+One&family=M+PLUS+1:wght@100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');





@font-face {
    font-family: 'Jockey';
    src: url('../fonts/Jockey_One/JockeyOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis/Dosis-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Sansita';
    src: url('../fonts/Sansita/Sansita-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Genos';
    src: url('../fonts/Genos/Genos-VariableFont_wght.ttf') format('truetype');

}
@font-face {
    font-family: 'Hind';
    src: url('../fonts/Hind/Hind-Light.ttf') format('truetype');

}


